// Bodypadding because of fixed nav
body {
  padding-top: $banner-height;
  color: #FFF;
  background: $brand-background;
}

@for $i from 1 through 6 {
  h#{$i}, .h#{$i} {
    font-family: $font-family-headings;
  }
}

// Container
.container-fluid { max-width: $container-max-width; }


// Links
a {
  transition: color 200ms ease-in-out;
  &:hover { text-decoration: none; }
}

.btn {
  transition: color 200ms ease-in-out, background 200ms ease-in-out;
}

//template
.page-template {
  &-template-home,
  &-template-custom {
    main.main { padding: 0; }
    .main-page { padding: 0 15px; }
    .wrap.container-fluid {
      max-width: none;
      width: 100%;
    }
  }
}
