// Bodypadding because of fixed nav
body {
  padding-top: $banner-height;
  color: #FFF;
  background: $brand-background;
}

@for $i from 1 through 6 {
  h#{$i}, .h#{$i} {
    font-family: $font-family-headings;
  }
}

// Container
.container-fluid { max-width: $container-max-width; }


// Links
a {
  transition: color 200ms ease-in-out;
  &:hover { text-decoration: none; }
}

//template
.page-template {
  &-template-home,
  &-template-custom {
    main.main { padding: 0; }
    .main-page { padding: 0 15px; }
    .wrap.container-fluid {
      max-width: none;
      width: 100%;
    }
  }
}

.swiper-pagination-bullet-active { background-color: $brand-primary; }
.caption .caption-content{
  font-size: $font-size-h1;
  padding: .5rem 0;
  font-family: $font-family-headings;
  background: red;
}
