// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #d1d8e0;//#333333;//#9CCC65;
$brand-background:      #333333;//#d1d8e0;//#37474F;
$brand-banner:          darken($brand-background,5%);//#546E7A;
$brand-box:             lighten($brand-background,10%);
$brand-footer:          $brand-banner;//#263238;
$brand-footer-text:     #FFF;
$link-color:            #3498db;

// Header
$logo-width:            270px;
$nav-padding:           1rem;
$banner-height:         85px;

// Containers
$container-max-width:   1200px;

// Home images
$home-image-height:     50vh;

// Blockcontent minheight
$block-height:          100vh;

// Fonts and more
$font-family-sans-serif: 'Dosis', sans-serif;
$font-family-headings:   'Sacramento', cursive;
