// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$enable-flex:           true;

// Colors
$brand-primary:         #27ae60;

// Header
$logo-width:            270px;
$nav-padding:           1rem;
$banner-height:         85px;

// Containers
$container-max-width:   1200px;

// Home images
$home-image-height:     50vh;

// Blockcontent minheight
$block-height:          100vh;