// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$enable-flex:           true;

// Colors
$brand-primary:         #9CCC65;
$brand-background:      #37474F;
$brand-banner:          #546E7A;
$brand-box:             lighten($brand-background,10%);
$brand-footer:          #263238;

// Header
$logo-width:            270px;
$nav-padding:           1rem;
$banner-height:         85px;

// Containers
$container-max-width:   1200px;

// Home images
$home-image-height:     50vh;

// Blockcontent minheight
$block-height:          100vh;

// Fonts and more
$font-family-sans-serif: 'Open Sans Condensed', sans-serif;
$font-family-headings:   'Amatic SC', cursive;
