header.banner {
  padding: $nav-padding 0; height: $banner-height; position: fixed; top: 0; left: 0; width: 100%; z-index: 10; background: $brand-banner;
  .brand > img {
    width: $logo-width;
    height: auto;

    @include media-breakpoint-down(sm) {
      width: ($logo-width - 40px);
    }
  }
  .nav-primary { display: inline-block; width: calc(100% - #{($logo-width + 5px)});
    li { display: inline-block;
      & > a {
        padding: #{($nav-padding / 2)} $nav-padding;
        color: #FFF;
        &:hover { color: darken(#FFF,10%); }
      }
      @include media-breakpoint-up(md) {
        &:last-child > a { padding-right: 0; }
      }
    }
  }
  .hamburger-wrapper {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
    .hamburger {
      padding: 0;
      top: 15px;
      position: relative;
      .hamburger-inner {
        background-color: #FFF;
        &:before, &:after {
          background-color: #FFF;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    nav.nav-primary {
      position: absolute;
      left: 0;
      width: 100%;
      background: $brand-banner;
      height: auto;
      top: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
      height: 100vh;

      .nav {
        padding-top: 90px;
      }

      &.show {
        opacity: 1;
        visibility: visible;
      }

      .menu-item {
        display: block;
        width: 100%;
      }

      li > a {
        padding: .5rem 1rem;
        width: 100%;
        font-size: $font-size-h2;
        text-align: center;
        display: block;
        position: relative;

        &:hover {
          background: $brand-primary;
        }
      }
    }
  }
}
