.home-slider {
  .swiper-pagination {
    .swiper-pagination-bullet {
      opacity: 0.5;
      &-active {
        background-color: $brand-primary;
      }
    }
  }
  .caption {
    font-size: $font-size-h1;
    padding: .5rem 0;
    font-family: $font-family-headings;
    text-shadow: 0px 0px 0px rgba(50, 50, 50, 1);
  }
}

// cover images
.home-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: $home-image-height;
  width: 100%;
  position: relative;
  width: calc(100vw - 9px);
  left: 50%;
  margin-left: -50vw;
}

// blocks
.block-content { min-height: calc(#{$block-height} - #{$banner-height}); }

// home video
.home-video {
  width: 100%;
  .video {
    width: 100%;
    height: auto;
  }
}

//users
.user-wrapper {
  margin: 1rem 0;
  .user {
    padding: 0;
    background: $brand-users;
    display: flex;
    flex-wrap: wrap;
    padding-left: .5rem;
    margin: 1rem 0;
    .user-caption {
      padding: 1rem 1rem 1rem .5rem;
    }
    .user-image {
      margin: 1rem 1rem 1rem .5rem;
      position: relative;
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 150px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        height: auto;
      }
    }
  }
}

.iframe-wrapper {
  position: relative;
  height: 250px;
  iframe {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
  }
}

.home-slider {
  .swiper-slide {
    height: 380px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.page-header { padding-top: 1rem; }
