.home-slider {
  .swiper-pagination {
    .swiper-pagination-bullet {
      opacity: 0.5;
      &-active {
        background-color: $brand-primary;
      }
    }
  }
  .caption {
    font-size: $font-size-h1;
    padding: .5rem 0;
    font-family: $font-family-headings;
    text-shadow: 0px 0px 0px rgba(50, 50, 50, 1);
  }
}

// cover images
.home-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: $home-image-height;
  width: 100%;
  position: relative;
  width: calc(100vw - 9px);
  left: 50%;
  margin-left: -50vw;
}

// blocks
.block-content { min-height: calc(#{$block-height} - #{$banner-height}); }

// home video
.home-video {
  width: 100%;
  .video {
    width: 100%;
    height: auto;
  }
}

//users
.box-wrapper {
  margin: 1rem 0;
  .box {
    box-shadow: 0px 7px 16px -5px rgba(0,0,0,0.35);
    padding: 0;
    background: $brand-box;
    display: flex;
    flex-wrap: wrap;
    padding-left: .5rem;
    margin: 1rem 0;
    display: table;
    position: relative;
    &.box-fullwidth { width: 100%; }
    .box-caption {
      width: 100%;
      display: table-cell;
      padding: 1rem 1rem 1rem .5rem;
      vertical-align: top;
    }
    .box-image {
      display: table-cell;
      vertical-align: top;
      .image {
        margin: 1rem 1rem 1rem .5rem;
        position: relative;
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 150px;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 100%;
          height: auto;
        }
      }
    }
    .date {
      background: darken($brand-box,5%);
      position: absolute;
      right: 1rem;
      top: -1.5rem;
      text-align: center;
      padding: 0 .5rem .5rem;
      box-shadow: 0px 0px 0px 5px darken($brand-box,5%);
      border: 1px dashed #FFF;
      .day { font-size: 2rem; color: $brand-primary; }
      .month-year {
        font-size: .8rem;
      }
    }
  }
}

.iframe-wrapper {
  position: relative;
  height: 250px;
  iframe {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
  }
}

.home-slider {
  .swiper-slide {
    height: 380px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.page-header { padding-top: 1rem; margin-bottom: 2rem; }

.single-tagesmenu {
  .sidebar{ display: none; }
  main.main {
    width: 100%;
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: breakpoint-max('md',$grid-breakpoints)) {
  .box {
    display: block;
    .box-image, .box-caption {
      display: block;
      width: 100%;
    }
  }
}
